# 6.1 Clean and Understand Data

#### This script contains the following points:
#### 1. Importing Libraries
#### 2. Importing Dataframes
#### 3. Basic Data Cleaning and Consistency Checks
#### 4. Understand Your Data
#### 5. Export

# 01. Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# 02. Import Dataset

In [2]:
# Creating a path

path = "/Users/auralynnrosario/Documents/11-2025 Gun Violence Analysis"

In [3]:
# Import Dataframe

df = pd.read_csv(os.path.join(path,'02 Data','Original Data','gun-violence-data_01-2013_03-2018.csv'))

In [4]:
# Check Output

df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [5]:
df.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'incident_url', 'source_url',
       'incident_url_fields_missing', 'congressional_district', 'gun_stolen',
       'gun_type', 'incident_characteristics', 'latitude',
       'location_description', 'longitude', 'n_guns_involved', 'notes',
       'participant_age', 'participant_age_group', 'participant_gender',
       'participant_name', 'participant_relationship', 'participant_status',
       'participant_type', 'sources', 'state_house_district',
       'state_senate_district'],
      dtype='object')

In [6]:
df.shape

(239677, 29)

# 03. Data Consistency Checks

In [7]:
# Check Column Datatypes

df.dtypes

incident_id                      int64
date                            object
state                           object
city_or_county                  object
address                         object
n_killed                         int64
n_injured                        int64
incident_url                    object
source_url                      object
incident_url_fields_missing       bool
congressional_district         float64
gun_stolen                      object
gun_type                        object
incident_characteristics        object
latitude                       float64
location_description            object
longitude                      float64
n_guns_involved                float64
notes                           object
participant_age                 object
participant_age_group           object
participant_gender              object
participant_name                object
participant_relationship        object
participant_status              object
participant_type                object
sources                         object
state_house_district           float64
state_senate_district          float64
dtype: object

#### **There are no mixed-type data in the columns**

In [8]:
# Find Missing Values

df.isnull().sum()

incident_id                         0
date                                0
state                               0
city_or_county                      0
address                         16497
n_killed                            0
n_injured                           0
incident_url                        0
source_url                        468
incident_url_fields_missing         0
congressional_district          11944
gun_stolen                      99498
gun_type                        99451
incident_characteristics          326
latitude                         7923
location_description           197588
longitude                        7923
n_guns_involved                 99451
notes                           81017
participant_age                 92298
participant_age_group           42119
participant_gender              36362
participant_name               122253
participant_relationship       223903
participant_status              27626
participant_type                24863
sources                           609
state_house_district            38772
state_senate_district           32335
dtype: int64

#### **No imputation necessary for critical outcomes (n_killed, n_injured), date, or state/city.**

In [9]:
# Deleting columns that are super sparse and/or provide little analytic value

df_2 = df.drop(columns = ['address','incident_url','source_url','sources','incident_url_fields_missing','notes','participant_age','participant_name','participant_relationship', 'location_description'])

In [10]:
# Check Output

df_2.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'n_killed',
       'n_injured', 'congressional_district', 'gun_stolen', 'gun_type',
       'incident_characteristics', 'latitude', 'longitude', 'n_guns_involved',
       'participant_age_group', 'participant_gender', 'participant_status',
       'participant_type', 'state_house_district', 'state_senate_district'],
      dtype='object')

In [11]:
df_2.shape

(239677, 19)

In [12]:
# Recode Missing Values to "Unknown"

cols_unknown = [
    "gun_stolen",
    "gun_type",
    "incident_characteristics",
    "participant_age_group",
    "participant_gender",
    "participant_status",
    "participant_type"
]

df_2[cols_unknown] = df_2[cols_unknown].fillna("Unknown")

In [13]:
# Check Output

df_2[["gun_stolen", "gun_type", "participant_gender"]].head(15)

,gun_stolen,gun_type,participant_gender
0,Unknown,Unknown,0::Male||1::Male||3::Male||4::Female
1,Unknown,Unknown,0::Male
2,0::Unknown||1::Unknown,0::Unknown||1::Unknown,0::Male||1::Male||2::Male||3::Male||4::Male
3,Unknown,Unknown,0::Female||1::Male||2::Male||3::Male
4,0::Unknown||1::Unknown,0::Handgun||1::Handgun,0::Female||1::Male||2::Male||3::Female
5,Unknown,Unknown,0::Female||1::Female||2::Female||3::Female||4:...
6,0::Unknown||1::Unknown,0::22 LR||1::223 Rem [AR-15],0::Male||1::Female||2::Male||3::Female||4::Fem...
7,Unknown,Unknown,0::Male||1::Male||2::Male||3::Male||4::Male
8,Unknown,Unknown,0::Male||1::Male||2::Male||3::Male||4::Male
9,Unknown,Unknown,0::Male
10,0::Unknown,0::Unknown,0::Male||1::Male||2::Male||3::Male
11,0::Unknown,0::Unknown,0::Male
12,0::Unknown,0::Shotgun,0::Male||1::Male||2::Male||3::Male||4::Male
13,0::Unknown,0::Handgun,0::Female||1::Female||2::Male||3::Male||4::Mal...
14,Unknown,Unknown,0::Male||1::Male||2::Male||3::Male||4::Male

In [14]:
df_2[cols_unknown].isna().sum()

gun_stolen                  0
gun_type                    0
incident_characteristics    0
participant_age_group       0
participant_gender          0
participant_status          0
participant_type            0
dtype: int64

In [15]:
# Create a flag for known number of guns invlolved 

df_2["guns_count_known"] = df_2["n_guns_involved"].notna().astype(int)

In [16]:
# Check Output

df_2[["n_guns_involved", "guns_count_known"]].head()
df_2["guns_count_known"].value_counts()

guns_count_known
1    140226
0     99451
Name: count, dtype: int64

**If n_guns_involved is not missing → guns_count_known = 1**

**If n_guns_involved is missing → guns_count_known = 0**

In [17]:
# Create a flag for known district fields

df_2["congressional_known"] = df_2["congressional_district"].notna().astype(int)
df_2["state_house_known"] = df_2["state_house_district"].notna().astype(int)
df_2["state_senate_known"] = df_2["state_senate_district"].notna().astype(int)

In [18]:
# Check Output

df_2["congressional_known"].value_counts()

congressional_known
1    227733
0     11944
Name: count, dtype: int64

In [19]:
# Check Output

df_2["state_house_known"].value_counts()

state_house_known
1    200905
0     38772
Name: count, dtype: int64

In [20]:
# Check Output

df_2["congressional_known"].value_counts()
df_2["state_house_known"].value_counts()
df_2["state_senate_known"].value_counts()

state_senate_known
1    207342
0     32335
Name: count, dtype: int64

**1 = this district is known**

**0 = this district is missing**

In [21]:
# Check for Duplicates

df_dupes = df_2[df_2.duplicated()]

**There are no duplicates**

# 04. Understand Your Data

In [22]:
# Review the Variables

df_2.info()
df_2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   incident_id               239677 non-null  int64
 1   date                      239677 non-null  object
 2   state                     239677 non-null  object
 3   city_or_county            239677 non-null  object
 4   n_killed                  239677 non-null  int64
 5   n_injured                 239677 non-null  int64
 6   congressional_district    227733 non-null  float64
 7   gun_stolen                239677 non-null  object
 8   gun_type                  239677 non-null  object
 9   incident_characteristics  239677 non-null  object
 10  latitude                  231754 non-null  float64
 11  longitude                 231754 non-null  float64
 12  n_guns_involved           140226 non-null  float64
 13  participant_age_group     239677 non-null  object
 14  participant_gender        239677 non-null  object
 15  participant_status        239677 non-null  object
 16  participant_type          239677 non-null  object
 17  state_house_district      200905 non-null  float64
 18  state_senate_district     207342 non-null  float64
 19  guns_count_known          239677 non-null  int64
 20  congressional_known       239677 non-null  int64
 21  state_house_known         239677 non-null  int64
 22  state_senate_known        239677 non-null  int64
dtypes: float64(6), int64(7), object(10)
memory usage: 42.1+ MB

,incident_id,date,state,city_or_county,n_killed,n_injured,congressional_district,gun_stolen,gun_type,incident_characteristics,...,participant_age_group,participant_gender,participant_status,participant_type,state_house_district,state_senate_district,guns_count_known,congressional_known,state_house_known,state_senate_known
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,Unknown,Unknown,Shot - Wounded/Injured||Mass Shooting (4+ vict...,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,NaN,NaN,0,1,0,0
1,460726,2013-01-01,California,Hawthorne,1,3,43.0,Unknown,Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,62.0,35.0,0,1,1,1
2,478855,2013-01-01,Ohio,Lorain,1,3,9.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,56.0,13.0,1,1,1,1
3,478925,2013-01-05,Colorado,Aurora,4,0,6.0,Unknown,Unknown,"Shot - Dead (murder, accidental, suicide)||Off...",...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,40.0,28.0,0,1,1,1
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,62.0,27.0,1,1,1,1

In [23]:
df_2.shape

(239677, 23)

In [24]:
df_2.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'n_killed',
       'n_injured', 'congressional_district', 'gun_stolen', 'gun_type',
       'incident_characteristics', 'latitude', 'longitude', 'n_guns_involved',
       'participant_age_group', 'participant_gender', 'participant_status',
       'participant_type', 'state_house_district', 'state_senate_district',
       'guns_count_known', 'congressional_known', 'state_house_known',
       'state_senate_known'],
      dtype='object')

In [25]:
# Check numeric key variables

df_2[["n_killed", "n_injured", "n_guns_involved"]].describe()

            n_killed      n_injured  n_guns_involved
count  239677.000000  239677.000000    140226.000000
mean        0.252290       0.494007         1.372442
std         0.521779       0.729952         4.678202
min         0.000000       0.000000         1.000000
25%         0.000000       0.000000         1.000000
50%         0.000000       0.000000         1.000000
75%         0.000000       1.000000         1.000000
max        50.000000      53.000000       400.000000

**Everything looks fine except for the max of 400 guns in one incident.**

### **Check categorical key variables**

In [26]:
df_2["state"].value_counts().head(10)

state
Illinois          17556
California        16306
Florida           15029
Texas             13577
Ohio              10244
New York           9712
Pennsylvania       8929
Georgia            8925
North Carolina     8739
Louisiana          8103
Name: count, dtype: int64

In [27]:
df_2["gun_type"].value_counts().head(10)

gun_type
Unknown                   99451
0::Unknown                93559
0::Handgun                13018
0::9mm                     4599
0::Unknown||1::Unknown     2410
0::22 LR                   2193
0::Shotgun                 2151
0::40 SW                   1947
0::380 Auto                1844
0::45 Auto                 1537
Name: count, dtype: int64

In [28]:
df_2["participant_type"].value_counts().head(10)

participant_type
0::Victim                                                                58564
0::Victim||1::Subject-Suspect                                            50579
0::Subject-Suspect                                                       44914
Unknown                                                                  24863
0::Victim||1::Subject-Suspect||2::Subject-Suspect                        10941
0::Victim||1::Victim                                                      9033
0::Subject-Suspect||1::Subject-Suspect                                    8922
0::Victim||1::Victim||2::Subject-Suspect                                  6552
0::Victim||1::Subject-Suspect||2::Subject-Suspect||3::Subject-Suspect     3720
0::Subject-Suspect||1::Subject-Suspect||2::Subject-Suspect                3040
Name: count, dtype: int64

In [29]:
df_2["participant_gender"].value_counts().head(10)

participant_gender
0::Male                               93496
0::Male||1::Male                      43530
Unknown                               36362
0::Male||1::Male||2::Male             12383
0::Female||1::Male                    10602
0::Female                              7791
0::Male||1::Female                     5130
0::Male||1::Male||2::Male||3::Male     4333
1::Male                                4168
0::Female||1::Male||2::Male            2062
Name: count, dtype: int64

In [30]:
df_2["participant_age_group"].value_counts().head(10)

participant_age_group
0::Adult 18+                                                            94671
0::Adult 18+||1::Adult 18+                                              49273
Unknown                                                                 42119
0::Adult 18+||1::Adult 18+||2::Adult 18+                                13893
0::Teen 12-17                                                            7392
0::Adult 18+||1::Adult 18+||2::Adult 18+||3::Adult 18+                   4975
1::Adult 18+                                                             3916
0::Adult 18+||1::Teen 12-17                                              1962
0::Teen 12-17||1::Adult 18+                                              1914
0::Adult 18+||1::Adult 18+||2::Adult 18+||3::Adult 18+||4::Adult 18+     1736
Name: count, dtype: int64

In [31]:
# Address 400 max guns stat by 1st reading incident_characteristics and notes -- checking original df

df[df["n_guns_involved"] == 400][[
    "incident_id", "date", "state", "city_or_county",
    "n_killed", "n_injured", "n_guns_involved",
    "incident_characteristics", "notes", "incident_url"
]]

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,incident_characteristics,notes,incident_url
69524,338106,2015-05-11,California,Los Angeles,0,0,400.0,Non-Shooting Incident||Gun buy back action,"Two Locations 2379 West Washington Boulevard, ...",http://www.gunviolencearchive.org/incident/338106
85777,398932,2015-08-20,Florida,Orlando,0,0,400.0,Non-Shooting Incident||Gun buy back action,NaN,http://www.gunviolencearchive.org/incident/398932
95847,437442,2015-10-24,California,San Diego,0,0,400.0,Non-Shooting Incident||Gun buy back action,NaN,http://www.gunviolencearchive.org/incident/437442
98804,449889,2015-11-12,California,Clovis,0,0,400.0,Non-Shooting Incident||ATF/LE Confiscation/Rai...,"State DoJ seized 209 handguns, 88 shotguns, 23...",http://www.gunviolencearchive.org/incident/449889

**There are four incidents in which 400 guns were documented, but these were all Non-shooting incidents/buy backs acording to incident characteristics. I will keep them in the dataset but exclude the from analyses focused on shootings and casualties. I will take a look at the max injured/killed as well**

In [35]:
# Address 50+ max injured stat by 1st reading incident_characteristics and notes -- checking original df

df[df["n_injured"] > 20][[
    "incident_id", "date", "state", "city_or_county",
    "n_killed", "n_injured", "n_guns_involved",
    "incident_characteristics", "notes", "incident_url"
]]

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,incident_characteristics,notes,incident_url
130448,577157,2016-06-12,Florida,Orlando,50,53,2.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",Names are coming in sporadically and every eff...,http://www.gunviolencearchive.org/incident/577157
195845,879953,2017-07-01,Arkansas,Little Rock,0,25,2.0,Shot - Wounded/Injured||Mass Shooting (4+ vict...,Shooting happened after concert during dispute...,http://www.gunviolencearchive.org/incident/879953

In [36]:
# Address 50+ max killed stat by 1st reading incident_characteristics and notes -- checking original df

df[df["n_killed"] > 20][[
    "incident_id", "date", "state", "city_or_county",
    "n_killed", "n_injured", "n_guns_involved",
    "incident_characteristics", "notes", "incident_url"
]]

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,incident_characteristics,notes,incident_url
130448,577157,2016-06-12,Florida,Orlando,50,53,2.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",Names are coming in sporadically and every eff...,http://www.gunviolencearchive.org/incident/577157
217151,980577,2017-11-05,Texas,Sutherland Springs,27,20,4.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...","open fire during church service, intend dv, fo...",http://www.gunviolencearchive.org/incident/980577

**These are accurate numbers and will be kept**

# 05. Export

In [32]:
# Export

df_2.to_csv(os.path.join(path,'02 Data','Prepared Data','gun_violence_checked.csv'))